<?php if (!defined('BASEPATH')) exit('No direct script access allowed');
// {{ ansible_managed }}
return array(
        'components' => array(
                'db' => array(
                        'connectionString' => 'mysql:host={{ limesurvey_mysql_host }};port={{ limesurvey_mysql_port }};dbname={{ limesurvey_mysql_database_name }};',
                        'emulatePrepare' => true,
                        'username' => '{{ limesurvey_mysql_user }}',
                        'password' => '{{ limesurvey_mysql_password }}',
                        'charset' => 'utf8mb4',
                        'tablePrefix' => 'lime_',
                ),

                'urlManager' => array(
                        'urlFormat' => 'get',
                        'rules' => array(
                                // You can add your own rules here
                        ),
                        'showScriptName' => true,
                ),

        ),
        // For security issue : it's better to set runtimePath out of web access
        // Directory must be readable and writable by the webuser
        // 'runtimePath'=>'/var/limesurvey/runtime/'
        // Use the following config variable to set modified optional settings copied from config-defaults.php
        'config'=>array(
        // debug: Set this to 1 if you are looking for errors. If you still get no errors after enabling this
        // then please check your error-logs - either in your hosting provider admin panel or in some /logs directory
        // on your webspace.
        // LimeSurvey developers: Set this to 2 to additionally display STRICT PHP error messages and get full access to standard templates
                'debug'=>0,
                'debugsql'=>0, // Set this to 1 to enanble sql logging, only active when debug = 2
                // Update default LimeSurvey config here
        )
);
